@model List<Item>
<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-md-4 product-men mt-5">
			<div class="men-pro-item simpleCart_shelfItem">
				<div class="men-thumb-item text-center">
					<img src="@item.ItemShowcaseImage" alt="@item.ItemName" style="width:200px;height:200px;">
					<div class="men-cart-pro">
						<div class="inner-men-cart-pro">
							<a href="/ItemUI/GetSelectedItemDetails/@item.ItemID" class="link-product-add-cart">Hemen İncele!</a>
						</div>
					</div>
				</div>
				<div class="item-info-product text-center border-top mt-4">
					<h4 class="pt-1">
						<a href="single.html">@item.ItemName</a>
					</h4>
					<div class="info-product-price my-2">
						<span class="item_price">@item.ItemDetail.ItemNewPrice</span>
						<del>@item.ItemDetail.ItemNewPrice</del>
					</div>
					<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
						<form action="#" method="post">
							<fieldset>
								<input type="hidden" name="cmd" value="_cart" />
								<input type="hidden" name="add" value="1" />
								<input type="hidden" name="business" value=" " />
								<input type="hidden" name="item_name" value="Samsung Galaxy J7" />
								<input type="hidden" name="amount" value="200.00" />
								<input type="hidden" name="discount_amount" value="1.00" />
								<input type="hidden" name="currency_code" value="USD" />
								<input type="hidden" name="return" value=" " />
								<input type="hidden" name="cancel_return" value=" " />
								<input type="submit" name="submit" value="Add to cart" class="button btn" />
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>

	}


</div>