@model List<MindListDTO>
@{
    ViewData["Title"] = "GetMindListCheckoutPage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	
	<!-- //page -->
	<!-- checkout page -->
	<div class="privacy py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
			<span>Aklımdakiler Listesi</span>
			</h3>
			<!-- //tittle heading -->
			<div class="checkout-right">
				<h4 class="mb-sm-4 mb-3">Senin Aklımdakiler Listendeki İlan Sayısı:
				<span>@ViewBag.itemCount ilan</span>
				</h4>
				<div class="table-responsive">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>İlan No</th>
								<th>Ürün</th>
						
								<th>Ürün Adı</th>

								<th>Ürün Fiyatı</th>
								<th>Kirala/Satın Al</th>
						
								<th>Kaldır</th>
							</tr>
						</thead>
						<tbody>
							@foreach(var item in Model)
							{
								<tr class="rem1">
									<td class="invert">@item.Item.ItemDetail.ItemNo</td>
								
									<td class="invert-image">
										<a href="single.html">
											<img src="@item.Item.ItemShowcaseImage" alt="@item.Item.ItemName" class="img-responsive">
										</a>
									</td>
									
									<td class="invert">@item.Item.ItemName</td>
								<td class="invert">@item.Item.ItemDetail.ItemNewPrice ₺</td>
								@if(item.Item.ItemDetail.ItemAdType == 1){
									<td class="invert">
										<div class="rem">
											<a href="" class="btn btn-info"><i class="bi bi-chat-square-dots-fill" style="color:white;"></i> Kirala</a>
										</div>
									</td>

								}
								else{
									<td class="invert">
										<div class="rem">
											<a href="" class="btn btn-success"><i class="bi bi-bag-fill"></i> Satın Al</a>
										</div>
									</td>

								}
								
							

									<td class="invert">
										<div class="rem">
										<a href="" class="btn btn-danger"><i class="bi bi-backspace-fill" style="color:white;"></i></a>
										</div>
									</td>
								
								</tr>
							

							}
							
						
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>

