<li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
	<a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
		<img class="img-xs rounded-circle ml-2" src="@TempData["imageUrl"]" alt="Profile image"> @TempData["namesurname"] <span class="font-weight-bold"> </span>
	</a>
	<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
		<div class="dropdown-header text-center">
			<img class="img-md rounded-circle" src="@TempData["imageUrl"]" alt="Profile image">
			<p class="mb-1 mt-3">@TempData["namesurname"]</p>
			<p class="font-weight-light text-muted mb-0">@TempData["email"]</p>
		</div>
		<a href="/Customer/Index" class="dropdown-item"><i class="dropdown-item-icon icon-user text-primary"></i> Benim Profilim <span class="badge badge-pill badge-danger">1</span></a>
		@*<a class="dropdown-item"><i class="dropdown-item-icon icon-speech text-primary"></i> Messages</a>
		<a class="dropdown-item"><i class="dropdown-item-icon icon-energy text-primary"></i> Activity</a>
		<a class="dropdown-item"><i class="dropdown-item-icon icon-question text-primary"></i> FAQ</a>*@
		<a href="/Login/SignIn" class="dropdown-item"><i class="dropdown-item-icon icon-power text-primary"></i>Çıkış Yap</a>
	</div>
</li>
