@model List<GetAllMyOpenItemAdsDTO>
@{
    ViewData["Title"] = "GetAllMyOpenItemAds";
    Layout = "~/Views/Shared/_SellerAdminLayout.cshtml";
}

<div class="card ">
    <div class="card-header">
        <h4 class="card-title">Açtığım İlanlar</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table tablesorter " id="">
                <thead class=" text-primary">
                    <tr>
                        <th>
                            Ürün Numarası
                        </th>
                        <th>
                            Ürün Adı
                        </th>
                     
                        <th>
                            Ürün Resmi
                        </th>
                        <th>
                            Ürün Yeni Fiyatı
                        </th>
                        <th>
                            Ürün Eski Fiyatı
                        </th>
                        <th>
                            Ürün İndirim Oranı (%)
                        </th>
                        <th>
                            İlan Türü
                        </th>
                        <th>
                            İlan Yayın Tarihi
                        </th>
                        <th>
                            Ürün Durumu
                        </th>
                        <th>
                            Açıklama
                        </th>
                        <th>İlan Durumu (Aktif/Pasif)</th>
                        <th>İlan Güncelle</th>
                        <th>İlan Detay Güncelle</th>
                        <th>İlanı Kaldır</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                        <tr>
                            <td>
                                @item.ItemNo
                            </td>
                            <td>
                                @item.ItemName
                            </td>
                            <td>
                                <img src="@item.ItemShowcaseImage" alt="@item.ItemName" style="width:300px;height:150px;">
                            </td>
                            <td>@item.ItemNewPrice</td>

                            <td>@item.ItemOldPrice</td>
                            <td>@item.ItemDiscount</td>
                            <td>@item.ItemAdType</td>
                            <td>@item.ItemAnnouncementDate</td>
                            <td>@item.ItemStatus</td>
                            <td>@item.Description</td>
                            @if(item.Status==true){
                                <td style="background-color:limegreen;color:white;">Aktif</td>
                            }
                            else{
                                <td style="background-color:red;color:white;">Pasif</td>
                            }
                            <td><a href="/IndividualSeller/UpdateItemAd/@item.ItemId" class="btn btn-outline-success">İlan Düzenle</a></td>
                            <td><a href="/IndividualSeller/UpdateItemDetails/@item.ItemDetailId" class="btn btn-outline-info">İlan Detay Düzenle</a></td>
                            @if(item.Status==true){
                                <td><a href="/IndividualSeller/RemoveItemAd/@item.ItemId" class="btn btn-outline-danger">İlanı Kapat</a></td>
                            }
                            else{
                                <td><a href="/IndividualSeller/OpenItemAd/@item.ItemId" class="btn btn-outline-danger">İlanı Aç</a></td>
                            }
                           
                           
                        </tr>

                    }
             
                 
                </tbody>
            </table>
        </div>
    </div>
</div>

